/src/main/resources/output/
/build/
/.idea/
/.gradle/
/gradle/
/src/main/resources/images - Copy/
/src/main/resources/images/body_parts/body/
/src/main/resources/images/body_parts/pattern/
/src/main/resources/images/body_parts/shadows/
/src/main/resources/images/traits/scale/
/src/images/
/src/json/
